.navModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

.navModalText {
  padding: 8px 16px;
  display: block;
  text-align: center;
  user-select: none;
}

#navbar-icon {
  border-left: none;
}

.navModalContent ul{
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25%;
  margin-bottom: auto;
  padding: 0;
  border: 1px solid black;
  width: 60%;
}
.navModalContent .navModalText li{
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
}
.navModalContent .navModalText:hover {
  list-style-type: none;
}

.close {
  text-align: right;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 2px;
  padding-right: 4px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

