#landing-page-intro {
  background-image: url("/img/background/bg-pattern.png");
  height: 100%;
  width: 100%;
}

#landing-page-intro-content {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#landing-page-intro-picture-div {
  @media only screen and (min-width: 768px) {
    background-image: url("./img/cardsMockups/cards.png");
    background-repeat: no-repeat;
    background-size: 50%;
    width: 30%;
    margin-left: 30%;
  }
  background-image: url("./img/cardsMockups/cards.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 65%;
  max-width: inherit;
  display: inline-grid;
}


#landing-page-intro-text-div {
  @media only screen and (min-width: 768px) {
    background-repeat: no-repeat;
    width: 30%;
    margin-left: 10%;
    margin-top: 5%;
    height: 50%;
    float: left;
  }
  background-image: url("./img/background/flashcard.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 50%;
  display: inline-grid;
}

#landing-page-intro-text {
  @media only screen and (min-width: 768px) {
  }
}

#button {
  height: 20%;

}

#landing-page-button-div {
  width: 100%;
  float: left;
}

