#landing-page-integrates {
  height: 100%;
  width: 100%;
  background-image: url("/img/background/bg-pattern.png");
}

#landing-page-integrates-content-div {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.landing-page-integrates-title {
  height: 8%;
  text-align: center;
  margin: 0 !important;
  text-decoration: underline;
  h1 {
    margin: 0 !important;
    font-size: 30px;
  }
}

#landing-page-integrates-fragjetzt-div {
  width: 100%;
  height: 46%;
  float: top;
}

.landing-page-integrates-fj-left {
  height: 100%;
  width: 60%;
  float: left;
}

.landing-page-integrates-fj-right {
  height: 100%;
  width: 40%;
  float: right;
}

#landing-page-integrates-fragjetzt-text {
  width: 100%;
  height: 80%;
  float: top;
  padding: 15px;
  display: inline-block;
}

#landing-page-integrates-fragjetzt-text a {
  width: 100%;
  text-decoration: none;
  height: 90%;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 200;
  letter-spacing: 1px;

  h1 {
    margin: 0 !important;
    width: 100%;
    height: 10%;
  }
}

.frag-jetzt-button a{
  border-radius: 20px;
  transition-duration: 0.4s;
  padding: 10px;
  display: inline-block;
  border: none;
  text-align: center;
  margin-left: 10%;
  width: 80%;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.frag-jetzt-button:hover a:hover{
  cursor: pointer;
  text-decoration: none;
}

#landing-page-integrates-picture-fragjetzt {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("./img/cardsMockups/fragJetzt.png");
}

#landing-page-integrates-arsnovaclick-div {
  width: 100%;
  height: 46%;
  float: bottom;
}

.landing-page-integrates-ac-left {
  height: 100%;
  width: 40%;
  float: left;
}

.landing-page-integrates-ac-right {
  height: 100%;
  width: 60%;
  float: right;
}

#landing-page-integrates-arsnovaclick-text {
  width: 100%;
  height: 80%;
  float: top;
  padding: 15px;
  display: inline-block;
}

#landing-page-integrates-arsnovaclick-text a {
  width: 100%;
  text-decoration: none;
  height: 90%;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 200;
  letter-spacing: 1px;

  h1 {
    margin:0 !important;
    width: 100%;
    height: 10%;
  }
}

#landing-page-integrates-picture-arsnovaclick {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("./img/cardsMockups/arsnovaClick.png");
}

.click-button a{
  border-radius: 20px;
  transition-duration: 0.4s;
  padding: 10px;
  display: inline-block;
  border: none;
  text-align: center;
  margin-left: 10%;
  width: 80%;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.click-button:hover a:hover{
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .landing-page-integrates-fj-right {
    display: none;
  }
  .landing-page-integrates-fj-left {
    width: 100%;
  }
  .landing-page-integrates-ac-right {
    width: 100%;
  }
  .landing-page-integrates-ac-left {
    display: none;
  }
}