#landing-page-questions {
  height: 100%;
  width: 100%;
}

/* Icon when the collapsible content is shown */
.panel-title:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
}
/* Icon when the collapsible content is hidden */
.panel-title.collapsed:after {
  content: "\e080";
}

.question-panel > .panel-heading, .question-panel.panel-default > .panel-heading {
  background: linear-gradient(0deg,rgba(92,184,92,.3) 0,rgba(92,184,92,.3) 4px,#f0fff0 5px,#f0fff0)!important;
  margin-top: 1%;
}

.question-panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: #fafad2;
  max-height: 60vh;
  overflow-y: auto;
}


#landing-page-questions-content-div {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.question-container {
  max-height: 50vh;
  overflow-y: auto;

}




