#landing-page-questions {
  height: 100%;
  width: 100%;
}

/* Icon when the collapsible content is shown */
.panel-title:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
}
/* Icon when the collapsible content is hidden */
.panel-title.collapsed:after {
  content: "\e080";
}

.question-panel > .panel-heading, .question-panel.panel-default > .panel-heading {
  margin-top: 1%;
  cursor: pointer;
}

.question-panel-default > .panel-heading + .panel-collapse > .panel-body {
  max-height: 60vh;
  overflow-y: auto;
}


#landing-page-questions-content-div {
  width: 100%;
  height: 100%;
  padding: 30px;

  h1 {
    height: 5%;
  }
}

.question-container {
  height: 70%;
  overflow-y: auto;
}

.landing-page-questions-backToTop {
  height: 5%;
  width: 100%;
  text-align: center;
  margin-top: 1%;
  a {
    height: 100%;
    width: 50px;
    color: white;
    text-align: center;
  }
  i {
    font-size: 50px;
    color: white !important;
    text-align: center;
    border: 1px solid black;
    //margin-left: 50%;
    border-radius: 50%;
    padding: 2px 10px;
  }
  i:hover {
    cursor: pointer;
    background-color: #0b46da !important;
    color: white !important;
  }
}



