#landing-page-feature {
  height: 100%;
  width: 100%;
}

#landing-page-feature-content {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

#landing-page-feature-picture {
  height: 100%;
  width: 50%;
  display: inline-flex;
  background-image: url("./img/cardsMockups/cards.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.landing-page-feature-right {
  height: inherit;
  float: right;
  min-width: 260px;
}

.landing-page-feature-left {
  height: inherit;
  width: 49.9%;
  float: left;
  min-width: 260px;
}

.landing-page-feature-div-border {
  padding: 20px 20px 20px 20px;
  height: 100%;
  width: 100%;
}

#landing-page-description {
  color: black;
  padding-top: 10%;
  font-size: 20px;
  text-align: left;
}

.landing-page-feature-features {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .landing-page-feature-left {
    height: 100%;
    width: 100%;
    float: top;
  }
  .landing-page-feature-right {
    display: none;
  }
}


/* Float four columns side by side */
.column {
  padding: 10px 10px 100px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
  i {
    font-size: 100px;
  }

  img {
    font-size: 100px;
    height: 100px;
    width: 100px;
  }
}